{% extends 'base.html' %}

{% block title %} {{ pet.name }} {% endblock %}

{% block content %} 

<div class="container mt-3 text-center">
    <div class="row">
        <div class="col">
            <h1>{{ pet.name }}</h1>
            <img src="{{ pet.photo_url }}" class="rounded-circle">
            <p>{{ pet.name }} the {{ pet.age }} year old {{ pet.species }}</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h5>Edit {{ pet.name }}'s information:</h5>
            <form class="card p-3 bg-light" method="POST">
                    {{ form.hidden_tag() }} 
                
                    {% for field in form
                        if field.widget.input_type != 'hidden' %}
                
                    <div class="form-group">
                        {{ field.label }}
                        {{ field }}
                
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                
                    {% endfor %}
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}